/hipchat-filterer/bin
/hipchat-filterer/hipchat-filterer.v11.suo
/hipchat-filterer/obj
/hipchat-filterer.v11.suo
/hipchat-filterer/web.local.config
/hipchat-filterer/LocalSettings.config
/hipchat-filterer/hipchat-filterer.csproj.user
/hipchat-filterer-test/bin
/hipchat-filterer-test/obj
/hipchat-filterer.sln.DotSettings.user
